@font-face {
    font-family: MouseMemoirs;
    src: url(/src/assets/fonts/MouseMemoirs-Regular.ttf);
}

.conteiner-teclado{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.teclado-linha{
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: center;
}
.box-letra{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 109px;
    height: 84px;

    border-radius: 25px;
    font-size: 48px;
    font-weight: 400;
    font-family: 'MouseMemoirs', sans-serif;
    font-style: normal;
    color: #261676;
}
.box-letra-enable{
    cursor: pointer;
    background-color: #FFF;
}
.box-letra-enable:hover{
    background-color: #2463FF;
    color: #FFF;
}

.box-letra-desable{
    cursor:default;
    background-color: #FFF;
    opacity: 0.25;
}
