.conteiner-menu{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 600px;
}
.conteiner-menu > button {
    height: 62px;
    margin-bottom: 50px;
    width: 260px;
    background-color: #2463FF;
    color: #FFF;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    font-size: 32px;
    font-family: 'MouseMemoirs', sans-serif;
    box-shadow: 0px -2px 0px 2px #3C74FF, 0px 3px 0px 3px #140E66, 0px -2px 0px 3px #140E66;
}
.conteiner-menu > button:hover{
    background-color: #3867df;
}
.logo{
    width: 370px;
}
.play{
    width: 66px;
}
.p{
    position: absolute;
    height: 500px;
    width: 592px;
    background: linear-gradient( #344ABA, #001479d3);
    z-index: -1;
    bottom: 0px;
    border-radius: 72px;
    box-shadow: 0px -10px 0px 2px #3C74FF, 0px 5px 0px 3px #140E66;
}
/* #344ABA
#001479 83% */
