.conteiner-menu{
    display: flex;
    justify-content: center;
    width: 590px;
    height: 610px;
    background: linear-gradient( #344ABA, #001479d3);
}
/* #344ABA
#001479 83% */

.box-letra-show{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 112px;
    height: 128px;

    border-radius: 40px;
    font-size: 88px;
    font-weight: 400;
  
}
.letra-vizible{
    color: #FFF;

    box-shadow: 0px -1px 0px 2px #3C74FF, 0px 2px 0px 3px #140E66;
    background-color: #2463FF;
}
.letra-not-vizible{
    color: #FFF;
    background-color: #2463FF;
    opacity: 0.25;
}
