*{
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  min-height: 100vh;
  background-image: url(/src/assets/images/background-desktop.svg);
  background-size: cover;
  background-repeat: no-repeat;

  /* apagar depois */
  display: flex;
  justify-content: center;
  align-items: center;
}




